In [1]:
#Refernce tutorial https://www.datacamp.com/community/tutorials/apache-spark-tutorial-machine-learning
import findspark
findspark.init("/home/kyesh/Programs/spark-2.3.0-bin-hadoop2.7/")

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

# Build the SparkSession
spark = SparkSession.builder \
   .master("local") \
   .appName("Linear Regression Model") \
   .config("spark.executor.memory", "1gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [5]:
# Load in the data
#rdd = sc.textFile('/home/kyesh/Downloads/titanic/train.csv')

from pyspark.sql import SQLContext
sql_context = SQLContext(sc)
df = sql_context.read.csv('/home/kyesh/Downloads/titanic/train.csv', header=True, inferSchema=True)
df.printSchema()

df.count()

# Load in the header
#header = sc.textFile('/home/kyesh/Downloads/titanic/trainHeader.csv')

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

791

In [4]:
# Show the top 20 rows 
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [10]:
df.select(df['Pclass'],df["name1"],df["name2"],df['Sex']).show(508)

+------+--------------------+--------------------+------+
|Pclass|               name1|               name2|   Sex|
+------+--------------------+--------------------+------+
|     3|             "Braund|    Mr. Owen Harris"|  male|
|     1|            "Cumings| Mrs. John Bradle...|female|
|     3|          "Heikkinen|        Miss. Laina"|female|
|     1|           "Futrelle| Mrs. Jacques Hea...|female|
|     3|              "Allen|  Mr. William Henry"|  male|
|     3|              "Moran|          Mr. James"|  male|
|     1|           "McCarthy|      Mr. Timothy J"|  male|
|     3|            "Palsson| Master. Gosta Le...|  male|
|     3|            "Johnson| Mrs. Oscar W (El...|female|
|     2|             "Nasser| Mrs. Nicholas (A...|female|
|     3|          "Sandstrom| Miss. Marguerite...|female|
|     1|            "Bonnell|    Miss. Elizabeth"|female|
|     3|        "Saundercock|  Mr. William Henry"|  male|
|     3|          "Andersson|   Mr. Anders Johan"|  male|
|     3|            "Vestrom| Miss. Hulda Aman...|female|
|     2|            "Hewlett| Mrs. (Mary D Kin...|female|
|     3|               "Rice|     Master. Eugene"|  male|
|     2|           "Williams| Mr. Charles Eugene"|  male|
|     3|      "Vander Planke| Mrs. Julius (Eme...|female|
|     3|         "Masselmani|        Mrs. Fatima"|female|
|     2|             "Fynney|       Mr. Joseph J"|  male|
|     2|            "Beesley|       Mr. Lawrence"|  male|
|     3|            "McGowan| Miss. Anna ""Ann...|female|
|     1|             "Sloper| Mr. William Thom...|  male|
|     3|            "Palsson| Miss. Torborg Da...|female|
|     3|            "Asplund| Mrs. Carl Oscar ...|female|
|     3|               "Emir|  Mr. Farred Chehab"|  male|
|     1|            "Fortune| Mr. Charles Alex...|  male|
|     3|            "O'Dwyer| Miss. Ellen ""Ne...|female|
|     3|           "Todoroff|          Mr. Lalio"|  male|
|     1|          "Uruchurtu|      Don. Manuel E"|  male|
|     1|            "Spencer| Mrs. William Aug...|female|
|     3|              "Glynn|  Miss. Mary Agatha"|female|
|     2|            "Wheadon|       Mr. Edward H"|  male|
|     1|              "Meyer|   Mr. Edgar Joseph"|  male|
|     1|          "Holverson| Mr. Alexander Os...|  male|
|     3|              "Mamee|          Mr. Hanna"|  male|
|     3|               "Cann| Mr. Ernest Charles"|  male|
|     3|      "Vander Planke| Miss. Augusta Ma...|female|
|     3|      "Nicola-Yarred|       Miss. Jamila"|female|
|     3|              "Ahlin| Mrs. Johan (Joha...|female|
|     2|             "Turpin| Mrs. William Joh...|female|
|     3|             "Kraeff|        Mr. Theodor"|  male|
|     2|            "Laroche| Miss. Simonne Ma...|female|
|     3|            "Devaney| Miss. Margaret D...|female|
|     3|             "Rogers|   Mr. William John"|  male|
|     3|             "Lennon|          Mr. Denis"|  male|
|     3|         "O'Driscoll|      Miss. Bridget"|female|
|     3|             "Samaan|        Mr. Youssef"|  male|
|     3|     "Arnold-Franchi| Mrs. Josef (Jose...|female|
|     3|             "Panula| Master. Juha Niilo"|  male|
|     3|          "Nosworthy|  Mr. Richard Cater"|  male|
|     1|             "Harper| Mrs. Henry Sleep...|female|
|     2|         "Faunthorpe| Mrs. Lizzie (Eli...|female|
|     1|              "Ostby| Mr. Engelhart Co...|  male|
|     1|            "Woolner|           Mr. Hugh"|  male|
|     2|               "Rugg|        Miss. Emily"|female|
|     3|              "Novel|       Mr. Mansouer"|  male|
|     2|               "West| Miss. Constance ...|female|
|     3|            "Goodwin| Master. William ...|  male|
|     3|         "Sirayanian|          Mr. Orsen"|  male|
|     1|              "Icard|       Miss. Amelie"|female|
|     1|             "Harris| Mr. Henry Birkha...|  male|
|     3|              "Skoog|     Master. Harald"|  male|
|     1|            "Stewart|       Mr. Albert A"|  male|
|     3|           "Moubarek|     Master. Gerios"|  male|
|     2|                "Nye| Mrs. (Elizabeth ...|female|
|     3|             "Crease|   Mr. Ernest James"|  male|
|     3|          "Andersson| Miss. Erna Alexa...|female|
|     3|               "Kink|        Mr. Vincenz"|  male|
|     2|             "Jenkin| Mr. Stephen Curnow"|  male|
|     3|            "Goodwin|  Miss. Lillian Amy"|female|
|     2|               "Hood|     Mr. Ambrose Jr"|  male|
|     3|       "Chronopoulos|      Mr. Apostolos"|  male|
|     3|               "Bing|            Mr. Lee"|  male|
|     3|               "Moen|  Mr. Sigurd Hansen"|  male|
|     3|            "Staneff|           Mr. Ivan"|  male|
|     3|             "Moutal|   Mr. Rahamin Haim"|  male|
|     2|           "Caldwell| Master. Alden Ga...|  male|
|     3|            "Dowdell|    Miss. Elizabeth"|female|
|     3|            "Waelens|        Mr. Achille"|  male|
|     3|         "Sheerlinck|    Mr. Jan Baptist"|  male|
|     3|          "McDermott| Miss. Brigdet De...|female|
|     1|             "Carrau|    Mr. Francisco M"|  male|
|     2|              "Ilett|       Miss. Bertha"|female|
|     3|          "Backstrom| Mrs. Karl Alfred...|female|
|     3|               "Ford|   Mr. William Neal"|  male|
|     3|          "Slocovski| Mr. Selman Francis"|  male|
|     1|            "Fortune|  Miss. Mabel Helen"|female|
|     3|            "Celotti|      Mr. Francesco"|  male|
|     3|         "Christmann|           Mr. Emil"|  male|
|     3|         "Andreasson|     Mr. Paul Edvin"|  male|
|     1|            "Chaffee| Mr. Herbert Fuller"|  male|
|     3|               "Dean|  Mr. Bertram Frank"|  male|
|     3|              "Coxon|         Mr. Daniel"|  male|
|     3|            "Shorney| Mr. Charles Joseph"|  male|
|     1|        "Goldschmidt|       Mr. George B"|  male|
|     1|         "Greenfield| Mr. William Bert...|  male|
|     2|             "Doling| Mrs. John T (Ada...|female|
|     2|             "Kantor|          Mr. Sinai"|  male|
|     3|           "Petranec|      Miss. Matilda"|female|
|     3|            "Petroff| Mr. Pastcho (""P...|  male|
|     1|              "White| Mr. Richard Frasar"|  male|
|     3|          "Johansson|    Mr. Gustaf Joel"|  male|
|     3|         "Gustafsson| Mr. Anders Vilhelm"|  male|
|     3|            "Mionoff|       Mr. Stoytcho"|  male|
|     3|        "Salkjelsvik| Miss. Anna Krist...|female|
|     3|               "Moss|   Mr. Albert Johan"|  male|
|     3|              "Rekic|           Mr. Tido"|  male|
|     3|              "Moran|       Miss. Bertha"|female|
|     1|             "Porter| Mr. Walter Chamb...|  male|
|     3|             "Zabour|       Miss. Hileni"|female|
|     3|             "Barton|     Mr. David John"|  male|
|     3|            "Jussila|     Miss. Katriina"|female|
|     3|            "Attalah|       Miss. Malake"|female|
|     3|          "Pekoniemi|         Mr. Edvard"|  male|
|     3|            "Connors|        Mr. Patrick"|  male|
|     2|             "Turpin| Mr. William John...|  male|
|     1|             "Baxter|   Mr. Quigg Edmond"|  male|
|     3|          "Andersson| Miss. Ellis Anna...|female|
|     2|            "Hickman| Mr. Stanley George"|  male|
|     3|              "Moore| Mr. Leonard Char...|  male|
|     2|             "Nasser|       Mr. Nicholas"|  male|
|     2|             "Webber|        Miss. Susan"|female|
|     1|              "White| Mr. Percival Way...|  male|
|     3|      "Nicola-Yarred|      Master. Elias"|  male|
|     3|            "McMahon|         Mr. Martin"|  male|
|     3|             "Madsen|  Mr. Fridtjof Arne"|  male|
|     3|              "Peter|         Miss. Anna"|female|
|     3|            "Ekstrom|          Mr. Johan"|  male|
|     3|          "Drazenoic|          Mr. Jozef"|  male|
|     3|             "Coelho| Mr. Domingos Fer...|  male|
|     3|             "Robins| Mrs. Alexander A...|female|
|     2|              "Weisz| Mrs. Leopold (Ma...|female|
|     2|              "Sobey| Mr. Samuel James...|  male|
|     2|            "Richard|          Mr. Emile"|  male|
|     1|             "Newsom| Miss. Helen Mony...|female|
|     1|           "Futrelle|  Mr. Jacques Heath"|  male|
|     3|               "Osen|      Mr. Olaf Elon"|  male|
|     1|             "Giglio|         Mr. Victor"|  male|
|     3|             "Boulos| Mrs. Joseph (Sul...|female|
|     3|             "Nysten|   Miss. Anna Sofia"|female|
|     3|        "Hakkarainen| Mrs. Pekka Pieta...|female|
|     3|              "Burke|       Mr. Jeremiah"|  male|
|     2|             "Andrew| Mr. Edgardo Samuel"|  male|
|     2|           "Nicholls| Mr. Joseph Charles"|  male|
|     3|          "Andersson| Mr. August Edvar...|  male|
|     3|               "Ford| Miss. Robina Mag...|female|
|     2|           "Navratil| Mr. Michel (""Lo...|  male|
|     2|              "Byles| Rev. Thomas Rous...|  male|
|     2|            "Bateman|  Rev. Robert James"|  male|
|     1|              "Pears| Mrs. Thomas (Edi...|female|
|     3|                "Meo|        Mr. Alfonzo"|  male|
|     3|       "van Billiard|  Mr. Austin Blyler"|  male|
|     3|              "Olsen|     Mr. Ole Martin"|  male|
|     1|           "Williams|  Mr. Charles Duane"|  male|
|     3|            "Gilnagh| Miss. Katherine ...|female|
|     3|               "Corn|          Mr. Harry"|  male|
|     3|          "Smiljanic|           Mr. Mile"|  male|
|     3|               "Sage| Master. Thomas H...|  male|
|     3|              "Cribb|  Mr. John Hatfield"|  male|
|     2|               "Watt| Mrs. James (Eliz...|female|
|     3|          "Bengtsson|    Mr. John Viktor"|  male|
|     3|              "Calic|           Mr. Jovo"|  male|
|     3|             "Panula| Master. Eino Vil...|  male|
|     3|          "Goldsmith| Master. Frank Jo...|  male|
|     1|           "Chibnall| Mrs. (Edith Mart...|female|
|     3|              "Skoog| Mrs. William (An...|female|
|     1|            "Baumann|         Mr. John D"|  male|
|     3|               "Ling|            Mr. Lee"|  male|
|     1|       "Van der hoef|        Mr. Wyckoff"|  male|
|     3|               "Rice|     Master. Arthur"|  male|
|     3|            "Johnson| Miss. Eleanor Il...|female|
|     3|             "Sivola|  Mr. Antti Wilhelm"|  male|
|     1|              "Smith|   Mr. James Clinch"|  male|
|     3|             "Klasen|     Mr. Klas Albin"|  male|
|     3|            "Lefebre| Master. Henry Fo...|  male|
|     1|              "Isham| Miss. Ann Elizab...|female|
|     2|               "Hale|       Mr. Reginald"|  male|
|     3|            "Leonard|         Mr. Lionel"|  male|
|     3|               "Sage| Miss. Constance ...|female|
|     2|             "Pernot|           Mr. Rene"|  male|
|     3|            "Asplund| Master. Clarence...|  male|
|     2|             "Becker|  Master. Richard F"|  male|
|     3|      "Kink-Heilmann| Miss. Luise Gret...|female|
|     1|               "Rood|    Mr. Hugh Roscoe"|  male|
|     3|            "O'Brien| Mrs. Thomas (Joh...|female|
|     1|            "Romaine| Mr. Charles Hall...|  male|
|     3|             "Bourke|           Mr. John"|  male|
|     3|             "Turcin|        Mr. Stjepan"|  male|
|     2|             "Pinsky|        Mrs. (Rosa)"|female|
|     2|           "Carbines|        Mr. William"|  male|
|     3|    "Andersen-Jensen| Miss. Carla Chri...|female|
|     2|           "Navratil|   Master. Michel M"|  male|
|     1|              "Brown| Mrs. James Josep...|female|
|     1|            "Lurette|        Miss. Elise"|female|
|     3|            "Mernagh|         Mr. Robert"|  male|
|     3|              "Olsen| Mr. Karl Siegwar...|  male|
|     3|            "Madigan| Miss. Margaret "...|female|
|     2|              "Yrois| Miss. Henriette ...|female|
|     3|        "Vande Walle|  Mr. Nestor Cyriel"|  male|
|     3|               "Sage|      Mr. Frederick"|  male|
|     3|           "Johanson|   Mr. Jakob Alfred"|  male|
|     3|            "Youseff|        Mr. Gerious"|  male|
|     3|              "Cohen| Mr. Gurshon ""Gu...|  male|
|     3|              "Strom| Miss. Telma Mati...|female|
|     3|          "Backstrom|    Mr. Karl Alfred"|  male|
|     3|           "Albimona|  Mr. Nassef Cassem"|  male|
|     3|               "Carr| Miss. Helen ""El...|female|
|     1|              "Blank|          Mr. Henry"|  male|
|     3|                "Ali|          Mr. Ahmed"|  male|
|     2|            "Cameron|  Miss. Clear Annie"|female|
|     3|             "Perkin|     Mr. John Henry"|  male|
|     2|             "Givard| Mr. Hans Kristen...|  male|
|     3|            "Kiernan|         Mr. Philip"|  male|
|     1|             "Newell|    Miss. Madeleine"|female|
|     3|           "Honkanen|       Miss. Eliina"|female|
|     2|          "Jacobsohn|  Mr. Sidney Samuel"|  male|
|     1|            "Bazzani|       Miss. Albina"|female|
|     2|             "Harris|         Mr. Walter"|  male|
|     3|         "Sunderland| Mr. Victor Francis"|  male|
|     2|            "Bracken|        Mr. James H"|  male|
|     3|              "Green|   Mr. George Henry"|  male|
|     3|            "Nenkoff|        Mr. Christo"|  male|
|     1|               "Hoyt| Mr. Frederick Ma...|  male|
|     3|           "Berglund| Mr. Karl Ivar Sven"|  male|
|     2|            "Mellors|   Mr. William John"|  male|
|     3|             "Lovell| Mr. John Hall ("...|  male|
|     2|          "Fahlstrom|     Mr. Arne Jonas"|  male|
|     3|            "Lefebre|     Miss. Mathilde"|female|
|     1|             "Harris| Mrs. Henry Birkh...|female|
|     3|            "Larsson|    Mr. Bengt Edvin"|  male|
|     2|           "Sjostedt|    Mr. Ernst Adolf"|  male|
|     3|            "Asplund| Miss. Lillian Ge...|female|
|     2|             "Leyson| Mr. Robert Willi...|  male|
|     3|           "Harknett| Miss. Alice Phoebe"|female|
|     2|               "Hold|        Mr. Stephen"|  male|
|     2|            "Collyer| Miss. Marjorie "...|female|
|     2|           "Pengelly| Mr. Frederick Wi...|  male|
|     2|               "Hunt|   Mr. George Henry"|  male|
|     3|             "Zabour|      Miss. Thamine"|female|
|     3|             "Murphy| Miss. Katherine ...|female|
|     2|          "Coleridge| Mr. Reginald Cha...|  male|
|     3|            "Maenpaa| Mr. Matti Alexan...|  male|
|     3|            "Attalah|        Mr. Sleiman"|  male|
|     1|            "Minahan| Dr. William Edward"|  male|
|     3|            "Lindahl| Miss. Agda Thori...|female|
|     2|         "Hamalainen| Mrs. William (An...|female|
|     1|           "Beckwith| Mr. Richard Leon...|  male|
|     2|             "Carter| Rev. Ernest Cour...|  male|
|     3|               "Reed|   Mr. James George"|  male|
|     3|              "Strom| Mrs. Wilhelm (El...|female|
|     1|              "Stead| Mr. William Thomas"|  male|
|     3|               "Lobb| Mr. William Arthur"|  male|
|     3|            "Rosblom| Mrs. Viktor (Hel...|female|
|     3|              "Touma| Mrs. Darwis (Han...|female|
|     1|             "Thorne| Mrs. Gertrude Ma...|female|
|     1|             "Cherry|       Miss. Gladys"|female|
|     1|               "Ward|         Miss. Anna"|female|
|     2|            "Parrish| Mrs. (Lutie Davis)"|female|
|     3|              "Smith|         Mr. Thomas"|  male|
|     3|            "Asplund| Master. Edvin Ro...|  male|
|     1|            "Taussig|           Mr. Emil"|  male|
|     1|           "Harrison|        Mr. William"|  male|
|     3|              "Henry|        Miss. Delia"|female|
|     2|             "Reeves|          Mr. David"|  male|
|     3|             "Panula|  Mr. Ernesti Arvid"|  male|
|     3|            "Persson|    Mr. Ernst Ulrik"|  male|
|     1|             "Graham| Mrs. William Tho...|female|
|     1|           "Bissette|       Miss. Amelia"|female|
|     1|             "Cairns|      Mr. Alexander"|  male|
|     3|          "Tornquist|  Mr. William Henry"|  male|
|     2|          "Mellinger| Mrs. (Elizabeth ...|female|
|     1|             "Natsch|      Mr. Charles H"|  male|
|     3|              "Healy| Miss. Hanora ""N...|female|
|     1|            "Andrews| Miss. Kornelia T...|female|
|     3|           "Lindblom| Miss. Augusta Ch...|female|
|     2|             "Parkes| Mr. Francis ""Fr...|  male|
|     3|               "Rice|       Master. Eric"|  male|
|     3|             "Abbott| Mrs. Stanton (Ro...|female|
|     3|              "Duane|          Mr. Frank"|  male|
|     3|             "Olsson| Mr. Nils Johan G...|  male|
|     3|      "de Pelsmaeker|         Mr. Alfons"|  male|
|     3|            "Dorking|  Mr. Edward Arthur"|  male|
|     1|              "Smith| Mr. Richard Will...|  male|
|     3|          "Stankovic|           Mr. Ivan"|  male|
|     3|          "de Mulder|       Mr. Theodore"|  male|
|     3|          "Naidenoff|          Mr. Penko"|  male|
|     2|             "Hosono|       Mr. Masabumi"|  male|
|     3|           "Connolly|         Miss. Kate"|female|
|     1|             "Barber| Miss. Ellen ""Ne...|female|
|     1|             "Bishop| Mrs. Dickinson H...|female|
|     2|               "Levy|   Mr. Rene Jacques"|  male|
|     3|               "Haas|      Miss. Aloisia"|female|
|     3|             "Mineff|           Mr. Ivan"|  male|
|     1|               "Lewy|        Mr. Ervin G"|  male|
|     3|              "Hanna|        Mr. Mansour"|  male|
|     1|            "Allison| Miss. Helen Lora...|female|
|     1|           "Saalfeld|        Mr. Adolphe"|  male|
|     1|             "Baxter| Mrs. James (Hele...|female|
|     3|              "Kelly| Miss. Anna Kathe...|female|
|     3|              "McCoy|        Mr. Bernard"|  male|
|     3|            "Johnson| Mr. William Caho...|  male|
|     2|              "Keane|       Miss. Nora A"|female|
|     3|           "Williams| Mr. Howard Hugh ...|  male|
|     1|            "Allison| Master. Hudson T...|  male|
|     1|            "Fleming|     Miss. Margaret"|female|
|     1|"Penasco y Castel...| Mrs. Victor de S...|female|
|     2|            "Abelson|         Mr. Samuel"|  male|
|     1|        "Francatelli|  Miss. Laura Mabel"|female|
|     1|               "Hays| Miss. Margaret B...|female|
|     1|            "Ryerson|  Miss. Emily Borie"|female|
|     2|           "Lahtinen| Mrs. William (An...|female|
|     3|         "Hendekovic|         Mr. Ignjac"|  male|
|     2|               "Hart|       Mr. Benjamin"|  male|
|     3|            "Nilsson| Miss. Helmina Jo...|female|
|     2|             "Kantor| Mrs. Sinai (Miri...|female|
|     2|           "Moraweck|         Dr. Ernest"|  male|
|     1|               "Wick| Miss. Mary Natalie"|female|
|     1|            "Spedden| Mrs. Frederic Oa...|female|
|     3|             "Dennis|         Mr. Samuel"|  male|
|     3|             "Danoff|           Mr. Yoto"|  male|
|     2|            "Slayter|   Miss. Hilda Mary"|female|
|     2|           "Caldwell| Mrs. Albert Fran...|female|
|     3|               "Sage| Mr. George John Jr"|  male|
|     1|              "Young|  Miss. Marie Grice"|female|
|     3|            "Nysveen|   Mr. Johan Hansen"|  male|
|     2|               "Ball|  Mrs. (Ada E Hall)"|female|
|     3|          "Goldsmith| Mrs. Frank John ...|female|
|     1|            "Hippach| Miss. Jean Gertr...|female|
|     3|              "McCoy|        Miss. Agnes"|female|
|     1|            "Partner|         Mr. Austen"|  male|
|     1|             "Graham|  Mr. George Edward"|  male|
|     3|      "Vander Planke|   Mr. Leo Edmondus"|  male|
|     1|         "Frauenthal| Mrs. Henry Willi...|female|
|     3|            "Denkoff|          Mr. Mitto"|  male|
|     1|              "Pears| Mr. Thomas Clinton"|  male|
|     1|              "Burns| Miss. Elizabeth ...|female|
|     3|               "Dahl|    Mr. Karl Edwart"|  male|
|     1|          "Blackwell|  Mr. Stephen Weart"|  male|
|     2|           "Navratil| Master. Edmond R...|  male|

In [99]:
import pyspark.sql.functions as func

grpB = "Age"
df.groupBy(grpB).agg(func.count(func.lit(1)),func.mean("Survived")).sort("count(1)",ascending=False).show()

df.groupBy(grpB).agg(func.count(func.lit(1)),func.mean("Survived")).sort("Age",ascending=True).show()

temp = df.groupBy(grpB).agg(func.count(func.lit(1)),func.mean("Survived"))

temp.sort("avg(Survived)",ascending=False).filter(temp["count(1)"] > 2).show()

agetest = 0

df_temp = df.select(df['Age'],df['Survived']).filter(df.Age > agetest)

df_temp.filter(df.Age < agetest + 6).agg(func.count(func.lit(1)),func.mean("Survived")).show()

+----+--------+-------------------+
| Age|count(1)|      avg(Survived)|
+----+--------+-------------------+
|null|     161|0.30434782608695654|
|24.0|      28|                0.5|
|22.0|      26| 0.4230769230769231|
|18.0|      23|0.34782608695652173|
|19.0|      23|0.34782608695652173|
|21.0|      22|0.22727272727272727|
|30.0|      22| 0.4090909090909091|
|28.0|      22| 0.2727272727272727|
|36.0|      22|                0.5|
|25.0|      20|               0.25|
|29.0|      20|                0.4|
|32.0|      16|                0.5|
|35.0|      16|             0.6875|
|26.0|      15| 0.3333333333333333|
|34.0|      14|0.42857142857142855|
|16.0|      14|0.35714285714285715|
|20.0|      13|0.23076923076923078|
|23.0|      13|0.38461538461538464|
|27.0|      13| 0.5384615384615384|
|40.0|      13|0.46153846153846156|
+----+--------+-------------------+
only showing top 20 rows

+----+--------+-------------------+
| Age|count(1)|      avg(Survived)|
+----+--------+-------------------+
|null|     161|0.30434782608695654|
|0.67|       1|                1.0|
|0.75|       2|                1.0|
|0.83|       1|                1.0|
|0.92|       1|                1.0|
| 1.0|       6| 0.6666666666666666|
| 2.0|       9| 0.3333333333333333|
| 3.0|       6| 0.8333333333333334|
| 4.0|       8|               0.75|
| 5.0|       4|                1.0|
| 6.0|       2|                1.0|
| 7.0|       3| 0.3333333333333333|
| 8.0|       4|                0.5|
| 9.0|       7| 0.2857142857142857|
|10.0|       1|                0.0|
|11.0|       3|                0.0|
|12.0|       1|                1.0|
|13.0|       2|                1.0|
|14.0|       6|                0.5|
|14.5|       1|                0.0|
+----+--------+-------------------+
only showing top 20 rows

+----+--------+------------------+
| Age|count(1)|     avg(Survived)|
+----+--------+------------------+
| 5.0|       4|               1.0|
| 3.0|       6|0.8333333333333334|
| 4.0|       8|              0.75|
|35.0|      16|            0.6875|
| 1.0|       6|0.6666666666666666|
|15.0|       3|0.6666666666666666|
|48.0|       8|             0.625|
|58.0|       5|               0.6|
|49.0|       5|               0.6|
|27.0|      13|0.5384615384615384|
|24.0|      28|               0.5|
|50.0|      10|               0.5|
|32.0|      16|               0.5|
| 8.0|       4|               0.5|
|17.0|      12|               0.5|
|39.0|       8|               0.5|
|38.0|      10|               0.5|
|36.0|      22|               0.5|
|14.0|       6|               0.5|
|60.0|       4|               0.5|
+----+--------+------------------+
only showing top 20 rows

+--------+------------------+
|count(1)|     avg(Survived)|
+--------+------------------+
|      38|0.7105263157894737|
+--------+------------------+

In [39]:
# Print the data types of all `df` columns
# df.dtypes

# Print the schema of `df`
df.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Name1: string (nullable = true)
 |-- Name2: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Ticket: string (nullable = true)

In [13]:
# Import all from `sql.types`
from pyspark.sql.types import *

# Write a custom function to convert the data type of DataFrame columns
def convertColumn(df, nameType):
  for name, type_ in nameType: 
     df = df.withColumn(name, df[name].cast(newType))
  return df 

# Assign all column names to `columns`
nameType = [('Age',), 
            ('Fare',),
            ('PassengerId',),
            'latitude', 'longitude', 'medianHouseValue', 'medianIncome', 'population', 'totalBedRooms', 'totalRooms']

# Conver the `df` columns to `FloatType()`
df = convertColumn(df, nameType)

ValueError: need more than 1 value to unpack

In [22]:
# Print the data types of all `df` columns
# df.dtypes

# Print the schema of `df`
df.printSchema()

root
 |-- households: float (nullable = true)
 |-- housingMedianAge: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- medianHouseValue: float (nullable = true)
 |-- medianIncome: float (nullable = true)
 |-- population: float (nullable = true)
 |-- totalBedRooms: float (nullable = true)
 |-- totalRooms: float (nullable = true)

In [23]:
df.select('population','totalBedRooms').show(10)

+----------+-------------+
|population|totalBedRooms|
+----------+-------------+
|     322.0|        129.0|
|    2401.0|       1106.0|
|     496.0|        190.0|
|     558.0|        235.0|
|     565.0|        280.0|
|     413.0|        213.0|
|    1094.0|        489.0|
|    1157.0|        687.0|
|    1206.0|        665.0|
|    1551.0|        707.0|
+----------+-------------+
only showing top 10 rows

In [24]:
df.groupBy("housingMedianAge").count().sort("housingMedianAge",ascending=False).show()

+----------------+-----+
|housingMedianAge|count|
+----------------+-----+
|            52.0| 1273|
|            51.0|   48|
|            50.0|  136|
|            49.0|  134|
|            48.0|  177|
|            47.0|  198|
|            46.0|  245|
|            45.0|  294|
|            44.0|  356|
|            43.0|  353|
|            42.0|  368|
|            41.0|  296|
|            40.0|  304|
|            39.0|  369|
|            38.0|  394|
|            37.0|  537|
|            36.0|  862|
|            35.0|  824|
|            34.0|  689|
|            33.0|  615|
+----------------+-----+
only showing top 20 rows

In [25]:
df.describe().show()

+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|summary|       households|  housingMedianAge|         latitude|          longitude|  medianHouseValue|      medianIncome|        population|    totalBedRooms|        totalRooms|
+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|  count|            20640|             20640|            20640|              20640|             20640|             20640|             20640|            20640|             20640|
|   mean|499.5396802325581|28.639486434108527|35.63186143109965|-119.56970444871473|206855.81690891474|3.8706710030346416|1425.4767441860465|537.8980135658915|2635.7630813953488|
| stddev|382.3297528316098| 12.58555761211163|2.135952380602968|  2.003531742932898|115395.61587441359|1.8998217183639696|  1132.46212176534| 421.247905943133|2181.6152515827944|
|    min|              1.0|               1.0|            32.54|            -124.35|           14999.0|            0.4999|               3.0|              1.0|               2.0|
|    max|           6082.0|              52.0|            41.95|            -114.31|          500001.0|           15.0001|           35682.0|           6445.0|           39320.0|
+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+

In [26]:
# Import all from `sql.functions` 
from pyspark.sql.functions import *

# Adjust the values of `medianHouseValue`
df = df.withColumn("medianHouseValue", col("medianHouseValue")/100000)

# Show the first 2 lines of `df`
df.take(2)

[Row(households=126.0, housingMedianAge=41.0, latitude=37.880001068115234, longitude=-122.2300033569336, medianHouseValue=4.526, medianIncome=8.325200080871582, population=322.0, totalBedRooms=129.0, totalRooms=880.0),
 Row(households=1138.0, housingMedianAge=21.0, latitude=37.86000061035156, longitude=-122.22000122070312, medianHouseValue=3.585, medianIncome=8.301400184631348, population=2401.0, totalBedRooms=1106.0, totalRooms=7099.0)]

In [27]:
# Import all from `sql.functions` if you haven't yet
from pyspark.sql.functions import *

# Divide `totalRooms` by `households`
roomsPerHousehold = df.select(col("totalRooms")/col("households"))

# Divide `population` by `households`
populationPerHousehold = df.select(col("population")/col("households"))

# Divide `totalBedRooms` by `totalRooms`
bedroomsPerRoom = df.select(col("totalBedRooms")/col("totalRooms"))

# Add the new columns to `df`
df = df.withColumn("roomsPerHousehold", col("totalRooms")/col("households")) \
   .withColumn("populationPerHousehold", col("population")/col("households")) \
   .withColumn("bedroomsPerRoom", col("totalBedRooms")/col("totalRooms"))
   
# Inspect the result
df.first()

Row(households=126.0, housingMedianAge=41.0, latitude=37.880001068115234, longitude=-122.2300033569336, medianHouseValue=4.526, medianIncome=8.325200080871582, population=322.0, totalBedRooms=129.0, totalRooms=880.0, roomsPerHousehold=6.984126984126984, populationPerHousehold=2.5555555555555554, bedroomsPerRoom=0.14659090909090908)

In [28]:
# Re-order and select columns
df = df.select("medianHouseValue", 
              "totalBedRooms", 
              "population", 
              "households", 
              "medianIncome", 
              "roomsPerHousehold", 
              "populationPerHousehold", 
              "bedroomsPerRoom")

In [29]:
# Import `DenseVector`
from pyspark.ml.linalg import DenseVector

# Define the `input_data` 
input_data = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# Replace `df` with the new DataFrame
df = spark.createDataFrame(input_data, ["label", "features"])

In [30]:
# Import `StandardScaler` 
from pyspark.ml.feature import StandardScaler

# Initialize the `standardScaler`
standardScaler = StandardScaler(inputCol="features", outputCol="features_scaled")

# Fit the DataFrame to the scaler
scaler = standardScaler.fit(df)

# Transform the data in `df` with the scaler
scaled_df = scaler.transform(df)

# Inspect the result
scaled_df.take(2)

[Row(label=4.526, features=DenseVector([129.0, 322.0, 126.0, 8.3252, 6.9841, 2.5556, 0.1466]), features_scaled=DenseVector([0.3062, 0.2843, 0.3296, 4.3821, 2.8228, 0.2461, 2.5264])),
 Row(label=3.585, features=DenseVector([1106.0, 2401.0, 1138.0, 8.3014, 6.2381, 2.1098, 0.1558]), features_scaled=DenseVector([2.6255, 2.1202, 2.9765, 4.3696, 2.5213, 0.2031, 2.6851]))]

In [31]:
# Split the data into train and test sets
train_data, test_data = scaled_df.randomSplit([.8,.2],seed=1234)

In [42]:
# Import `LinearRegression`
from pyspark.ml.regression import LinearRegression

# Initialize `lr`
lr = LinearRegression(labelCol="label", maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Fit the data to the model
linearModel = lr.fit(train_data)

In [43]:
# Generate predictions
predicted = linearModel.transform(test_data)

# Extract the predictions and the "known" correct labels
predictions = predicted.select("prediction").rdd.map(lambda x: x[0])
labels = predicted.select("label").rdd.map(lambda x: x[0])

# Zip `predictions` and `labels` into a list
predictionAndLabel = predictions.zip(labels).collect()

# Print out first 5 instances of `predictionAndLabel` 
predictionAndLabel[:5]

[(0.8134519322113867, 0.14999),
 (1.3128391350327204, 0.14999),
 (1.8009833788708067, 0.14999),
 (0.8554237492441334, 0.283),
 (0.8192322857580903, 0.366)]

In [44]:
# Coefficients for the model
linearModel.coefficients

# Intercept for the model
#linearModel.intercept

DenseVector([0.0001, -0.0002, 0.0004, 0.4359, -0.0004, 0.0, 2.9623])

In [38]:
# Get the RMSE
linearModel.summary.rootMeanSquaredError

# Get the R2
linearModel.summary.r2

0.42282227755911483

In [16]:
spark.stop()