In [1]:
#Refernce tutorial https://www.datacamp.com/community/tutorials/apache-spark-tutorial-machine-learning
import findspark
findspark.init("/home/kyesh/Programs/spark-2.3.0-bin-hadoop2.7/")

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

# Build the SparkSession
spark = SparkSession.builder \
   .master("local") \
   .appName("Linear Regression Model") \
   .config("spark.executor.memory", "1gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [3]:
# Load in the data
rdd = sc.textFile('/home/kyesh/Downloads/titanic/train.csv')

# Load in the header
header = sc.textFile('/home/kyesh/Downloads/titanic/trainHeader.csv')

In [4]:
header.collect()

[u'PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked']

In [5]:
rdd.take(2)

[u'1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S',
 u'2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C']

In [6]:
# Split lines on commas
rdd = rdd.map(lambda line: line.split(","))

# Inspect the first 2 lines 
rdd.take(2)

[[u'1',
  u'0',
  u'3',
  u'"Braund',
  u' Mr. Owen Harris"',
  u'male',
  u'22',
  u'1',
  u'0',
  u'A/5 21171',
  u'7.25',
  u'',
  u'S'],
 [u'2',
  u'1',
  u'1',
  u'"Cumings',
  u' Mrs. John Bradley (Florence Briggs Thayer)"',
  u'female',
  u'38',
  u'1',
  u'0',
  u'PC 17599',
  u'71.2833',
  u'C85',
  u'C']]

In [7]:
# Inspect the first line 
rdd.first()

# Take top elements
#rdd.top(2)

[u'1',
 u'0',
 u'3',
 u'"Braund',
 u' Mr. Owen Harris"',
 u'male',
 u'22',
 u'1',
 u'0',
 u'A/5 21171',
 u'7.25',
 u'',
 u'S']

In [10]:
# Import the necessary modules 
from pyspark.sql import Row

# Map the RDD to a DF
df = rdd.map(lambda line: Row(PassengerId=line[0], 
                              Survived=line[1], 
                              Pclass=line[2],
                              Name1=line[3],
                              Name2=line[4],
                              Sex=line[5],
                              Age=line[6], 
                              SibSp=line[7],
                              Parch=line[8],
                              Ticket=line[9],
                              Fare=line[10],
                              Cabin=line[11],
                              Embarked=line[12])).toDF()

In [14]:
# Show the top 20 rows 
df.show(500)

+----+---------------+--------+--------+--------------------+--------------------+-----+-----------+------+------+-----+--------+------------------+
| Age|          Cabin|Embarked|    Fare|               Name1|               Name2|Parch|PassengerId|Pclass|   Sex|SibSp|Survived|            Ticket|
+----+---------------+--------+--------+--------------------+--------------------+-----+-----------+------+------+-----+--------+------------------+
|  22|               |       S|    7.25|             "Braund|    Mr. Owen Harris"|    0|          1|     3|  male|    1|       0|         A/5 21171|
|  38|            C85|       C| 71.2833|            "Cumings| Mrs. John Bradle...|    0|          2|     1|female|    1|       1|          PC 17599|
|  26|               |       S|   7.925|          "Heikkinen|        Miss. Laina"|    0|          3|     3|female|    0|       1|  STON/O2. 3101282|
|  35|           C123|       S|    53.1|           "Futrelle| Mrs. Jacques Hea...|    0|          4|     1|female|    1|       1|            113803|
|  35|               |       S|    8.05|              "Allen|  Mr. William Henry"|    0|          5|     3|  male|    0|       0|            373450|
|    |               |       Q|  8.4583|              "Moran|          Mr. James"|    0|          6|     3|  male|    0|       0|            330877|
|  54|            E46|       S| 51.8625|           "McCarthy|      Mr. Timothy J"|    0|          7|     1|  male|    0|       0|             17463|
|   2|               |       S|  21.075|            "Palsson| Master. Gosta Le...|    1|          8|     3|  male|    3|       0|            349909|
|  27|               |       S| 11.1333|            "Johnson| Mrs. Oscar W (El...|    2|          9|     3|female|    0|       1|            347742|
|  14|               |       C| 30.0708|             "Nasser| Mrs. Nicholas (A...|    0|         10|     2|female|    1|       1|            237736|
|   4|             G6|       S|    16.7|          "Sandstrom| Miss. Marguerite...|    1|         11|     3|female|    1|       1|           PP 9549|
|  58|           C103|       S|   26.55|            "Bonnell|    Miss. Elizabeth"|    0|         12|     1|female|    0|       1|            113783|
|  20|               |       S|    8.05|        "Saundercock|  Mr. William Henry"|    0|         13|     3|  male|    0|       0|         A/5. 2151|
|  39|               |       S|  31.275|          "Andersson|   Mr. Anders Johan"|    5|         14|     3|  male|    1|       0|            347082|
|  14|               |       S|  7.8542|            "Vestrom| Miss. Hulda Aman...|    0|         15|     3|female|    0|       0|            350406|
|  55|               |       S|      16|            "Hewlett| Mrs. (Mary D Kin...|    0|         16|     2|female|    0|       1|            248706|
|   2|               |       Q|  29.125|               "Rice|     Master. Eugene"|    1|         17|     3|  male|    4|       0|            382652|
|    |               |       S|      13|           "Williams| Mr. Charles Eugene"|    0|         18|     2|  male|    0|       1|            244373|
|  31|               |       S|      18|      "Vander Planke| Mrs. Julius (Eme...|    0|         19|     3|female|    1|       0|            345763|
|    |               |       C|   7.225|         "Masselmani|        Mrs. Fatima"|    0|         20|     3|female|    0|       1|              2649|
|  35|               |       S|      26|             "Fynney|       Mr. Joseph J"|    0|         21|     2|  male|    0|       0|            239865|
|  34|            D56|       S|      13|            "Beesley|       Mr. Lawrence"|    0|         22|     2|  male|    0|       1|            248698|
|  15|               |       Q|  8.0292|            "McGowan| Miss. Anna ""Ann...|    0|         23|     3|female|    0|       1|            330923|
|  28|             A6|       S|    35.5|             "Sloper| Mr. William Thom...|    0|         24|     1|  male|    0|       1|            113788|
|   8|               |       S|  21.075|            "Palsson| Miss. Torborg Da...|    1|         25|     3|female|    3|       0|            349909|
|  38|               |       S| 31.3875|            "Asplund| Mrs. Carl Oscar ...|    5|         26|     3|female|    1|       1|            347077|
|    |               |       C|   7.225|               "Emir|  Mr. Farred Chehab"|    0|         27|     3|  male|    0|       0|              2631|
|  19|    C23 C25 C27|       S|     263|            "Fortune| Mr. Charles Alex...|    2|         28|     1|  male|    3|       0|             19950|
|    |               |       Q|  7.8792|            "O'Dwyer| Miss. Ellen ""Ne...|    0|         29|     3|female|    0|       1|            330959|
|    |               |       S|  7.8958|           "Todoroff|          Mr. Lalio"|    0|         30|     3|  male|    0|       0|            349216|
|  40|               |       C| 27.7208|          "Uruchurtu|      Don. Manuel E"|    0|         31|     1|  male|    0|       0|          PC 17601|
|    |            B78|       C|146.5208|            "Spencer| Mrs. William Aug...|    0|         32|     1|female|    1|       1|          PC 17569|
|    |               |       Q|    7.75|              "Glynn|  Miss. Mary Agatha"|    0|         33|     3|female|    0|       1|            335677|
|  66|               |       S|    10.5|            "Wheadon|       Mr. Edward H"|    0|         34|     2|  male|    0|       0|        C.A. 24579|
|  28|               |       C| 82.1708|              "Meyer|   Mr. Edgar Joseph"|    0|         35|     1|  male|    1|       0|          PC 17604|
|  42|               |       S|      52|          "Holverson| Mr. Alexander Os...|    0|         36|     1|  male|    1|       0|            113789|
|    |               |       C|  7.2292|              "Mamee|          Mr. Hanna"|    0|         37|     3|  male|    0|       1|              2677|
|  21|               |       S|    8.05|               "Cann| Mr. Ernest Charles"|    0|         38|     3|  male|    0|       0|        A./5. 2152|
|  18|               |       S|      18|      "Vander Planke| Miss. Augusta Ma...|    0|         39|     3|female|    2|       0|            345764|
|  14|               |       C| 11.2417|      "Nicola-Yarred|       Miss. Jamila"|    0|         40|     3|female|    1|       1|              2651|
|  40|               |       S|   9.475|              "Ahlin| Mrs. Johan (Joha...|    0|         41|     3|female|    1|       0|              7546|
|  27|               |       S|      21|             "Turpin| Mrs. William Joh...|    0|         42|     2|female|    1|       0|             11668|
|    |               |       C|  7.8958|             "Kraeff|        Mr. Theodor"|    0|         43|     3|  male|    0|       0|            349253|
|   3|               |       C| 41.5792|            "Laroche| Miss. Simonne Ma...|    2|         44|     2|female|    1|       1|     SC/Paris 2123|
|  19|               |       Q|  7.8792|            "Devaney| Miss. Margaret D...|    0|         45|     3|female|    0|       1|            330958|
|    |               |       S|    8.05|             "Rogers|   Mr. William John"|    0|         46|     3|  male|    0|       0|   S.C./A.4. 23567|
|    |               |       Q|    15.5|             "Lennon|          Mr. Denis"|    0|         47|     3|  male|    1|       0|            370371|
|    |               |       Q|    7.75|         "O'Driscoll|      Miss. Bridget"|    0|         48|     3|female|    0|       1|             14311|
|    |               |       C| 21.6792|             "Samaan|        Mr. Youssef"|    0|         49|     3|  male|    2|       0|              2662|
|  18|               |       S|    17.8|     "Arnold-Franchi| Mrs. Josef (Jose...|    0|         50|     3|female|    1|       0|            349237|
|   7|               |       S| 39.6875|             "Panula| Master. Juha Niilo"|    1|         51|     3|  male|    4|       0|           3101295|
|  21|               |       S|     7.8|          "Nosworthy|  Mr. Richard Cater"|    0|         52|     3|  male|    0|       0|        A/4. 39886|
|  49|            D33|       C| 76.7292|             "Harper| Mrs. Henry Sleep...|    0|         53|     1|female|    1|       1|          PC 17572|
|  29|               |       S|      26|         "Faunthorpe| Mrs. Lizzie (Eli...|    0|         54|     2|female|    1|       1|              2926|
|  65|            B30|       C| 61.9792|              "Ostby| Mr. Engelhart Co...|    1|         55|     1|  male|    0|       0|            113509|
|    |            C52|       S|    35.5|            "Woolner|           Mr. Hugh"|    0|         56|     1|  male|    0|       1|             19947|
|  21|               |       S|    10.5|               "Rugg|        Miss. Emily"|    0|         57|     2|female|    0|       1|        C.A. 31026|
|28.5|               |       C|  7.2292|              "Novel|       Mr. Mansouer"|    0|         58|     3|  male|    0|       0|              2697|
|   5|               |       S|   27.75|               "West| Miss. Constance ...|    2|         59|     2|female|    1|       1|        C.A. 34651|
|  11|               |       S|    46.9|            "Goodwin| Master. William ...|    2|         60|     3|  male|    5|       0|           CA 2144|
|  22|               |       C|  7.2292|         "Sirayanian|          Mr. Orsen"|    0|         61|     3|  male|    0|       0|              2669|
|  38|            B28|        |      80|              "Icard|       Miss. Amelie"|    0|         62|     1|female|    0|       1|            113572|
|  45|            C83|       S|  83.475|             "Harris| Mr. Henry Birkha...|    0|         63|     1|  male|    1|       0|             36973|
|   4|               |       S|    27.9|              "Skoog|     Master. Harald"|    2|         64|     3|  male|    3|       0|            347088|
|    |               |       C| 27.7208|            "Stewart|       Mr. Albert A"|    0|         65|     1|  male|    0|       0|          PC 17605|
|    |               |       C| 15.2458|           "Moubarek|     Master. Gerios"|    1|         66|     3|  male|    1|       1|              2661|
|  29|            F33|       S|    10.5|                "Nye| Mrs. (Elizabeth ...|    0|         67|     2|female|    0|       1|        C.A. 29395|
|  19|               |       S|  8.1583|             "Crease|   Mr. Ernest James"|    0|         68|     3|  male|    0|       0|         S.P. 3464|
|  17|               |       S|   7.925|          "Andersson| Miss. Erna Alexa...|    2|         69|     3|female|    4|       1|           3101281|
|  26|               |       S|  8.6625|               "Kink|        Mr. Vincenz"|    0|         70|     3|  male|    2|       0|            315151|
|  32|               |       S|    10.5|             "Jenkin| Mr. Stephen Curnow"|    0|         71|     2|  male|    0|       0|        C.A. 33111|
|  16|               |       S|    46.9|            "Goodwin|  Miss. Lillian Amy"|    2|         72|     3|female|    5|       0|           CA 2144|
|  21|               |       S|    73.5|               "Hood|     Mr. Ambrose Jr"|    0|         73|     2|  male|    0|       0|      S.O.C. 14879|
|  26|               |       C| 14.4542|       "Chronopoulos|      Mr. Apostolos"|    0|         74|     3|  male|    1|       0|              2680|
|  32|               |       S| 56.4958|               "Bing|            Mr. Lee"|    0|         75|     3|  male|    0|       1|              1601|
|  25|          F G73|       S|    7.65|               "Moen|  Mr. Sigurd Hansen"|    0|         76|     3|  male|    0|       0|            348123|
|    |               |       S|  7.8958|            "Staneff|           Mr. Ivan"|    0|         77|     3|  male|    0|       0|            349208|
|    |               |       S|    8.05|             "Moutal|   Mr. Rahamin Haim"|    0|         78|     3|  male|    0|       0|            374746|
|0.83|               |       S|      29|           "Caldwell| Master. Alden Ga...|    2|         79|     2|  male|    0|       1|            248738|
|  30|               |       S|  12.475|            "Dowdell|    Miss. Elizabeth"|    0|         80|     3|female|    0|       1|            364516|
|  22|               |       S|       9|            "Waelens|        Mr. Achille"|    0|         81|     3|  male|    0|       0|            345767|
|  29|               |       S|     9.5|         "Sheerlinck|    Mr. Jan Baptist"|    0|         82|     3|  male|    0|       1|            345779|
|    |               |       Q|  7.7875|          "McDermott| Miss. Brigdet De...|    0|         83|     3|female|    0|       1|            330932|
|  28|               |       S|    47.1|             "Carrau|    Mr. Francisco M"|    0|         84|     1|  male|    0|       0|            113059|
|  17|               |       S|    10.5|              "Ilett|       Miss. Bertha"|    0|         85|     2|female|    0|       1|        SO/C 14885|
|  33|               |       S|   15.85|          "Backstrom| Mrs. Karl Alfred...|    0|         86|     3|female|    3|       1|           3101278|
|  16|               |       S|  34.375|               "Ford|   Mr. William Neal"|    3|         87|     3|  male|    1|       0|        W./C. 6608|
|    |               |       S|    8.05|          "Slocovski| Mr. Selman Francis"|    0|         88|     3|  male|    0|       0|   SOTON/OQ 392086|
|  23|    C23 C25 C27|       S|     263|            "Fortune|  Miss. Mabel Helen"|    2|         89|     1|female|    3|       1|             19950|
|  24|               |       S|    8.05|            "Celotti|      Mr. Francesco"|    0|         90|     3|  male|    0|       0|            343275|
|  29|               |       S|    8.05|         "Christmann|           Mr. Emil"|    0|         91|     3|  male|    0|       0|            343276|
|  20|               |       S|  7.8542|         "Andreasson|     Mr. Paul Edvin"|    0|         92|     3|  male|    0|       0|            347466|
|  46|            E31|       S|  61.175|            "Chaffee| Mr. Herbert Fuller"|    0|         93|     1|  male|    1|       0|       W.E.P. 5734|
|  26|               |       S|  20.575|               "Dean|  Mr. Bertram Frank"|    2|         94|     3|  male|    1|       0|         C.A. 2315|
|  59|               |       S|    7.25|              "Coxon|         Mr. Daniel"|    0|         95|     3|  male|    0|       0|            364500|
|    |               |       S|    8.05|            "Shorney| Mr. Charles Joseph"|    0|         96|     3|  male|    0|       0|            374910|
|  71|             A5|       C| 34.6542|        "Goldschmidt|       Mr. George B"|    0|         97|     1|  male|    0|       0|          PC 17754|
|  23|        D10 D12|       C| 63.3583|         "Greenfield| Mr. William Bert...|    1|         98|     1|  male|    0|       1|          PC 17759|
|  34|               |       S|      23|             "Doling| Mrs. John T (Ada...|    1|         99|     2|female|    0|       1|            231919|
|  34|               |       S|      26|             "Kantor|          Mr. Sinai"|    0|        100|     2|  male|    1|       0|            244367|
|  28|               |       S|  7.8958|           "Petranec|      Miss. Matilda"|    0|        101|     3|female|    0|       0|            349245|
|    |               |       S|  7.8958|            "Petroff| Mr. Pastcho (""P...|    0|        102|     3|  male|    0|       0|            349215|
|  21|            D26|       S| 77.2875|              "White| Mr. Richard Frasar"|    1|        103|     1|  male|    0|       0|             35281|
|  33|               |       S|  8.6542|          "Johansson|    Mr. Gustaf Joel"|    0|        104|     3|  male|    0|       0|              7540|
|  37|               |       S|   7.925|         "Gustafsson| Mr. Anders Vilhelm"|    0|        105|     3|  male|    2|       0|           3101276|
|  28|               |       S|  7.8958|            "Mionoff|       Mr. Stoytcho"|    0|        106|     3|  male|    0|       0|            349207|
|  21|               |       S|    7.65|        "Salkjelsvik| Miss. Anna Krist...|    0|        107|     3|female|    0|       1|            343120|
|    |               |       S|   7.775|               "Moss|   Mr. Albert Johan"|    0|        108|     3|  male|    0|       1|            312991|
|  38|               |       S|  7.8958|              "Rekic|           Mr. Tido"|    0|        109|     3|  male|    0|       0|            349249|
|    |               |       Q|   24.15|              "Moran|       Miss. Bertha"|    0|        110|     3|female|    1|       1|            371110|
|  47|           C110|       S|      52|             "Porter| Mr. Walter Chamb...|    0|        111|     1|  male|    0|       0|            110465|
|14.5|               |       C| 14.4542|             "Zabour|       Miss. Hileni"|    0|        112|     3|female|    1|       0|              2665|
|  22|               |       S|    8.05|             "Barton|     Mr. David John"|    0|        113|     3|  male|    0|       0|            324669|
|  20|               |       S|   9.825|            "Jussila|     Miss. Katriina"|    0|        114|     3|female|    1|       0|              4136|
|  17|               |       C| 14.4583|            "Attalah|       Miss. Malake"|    0|        115|     3|female|    0|       0|              2627|
|  21|               |       S|   7.925|          "Pekoniemi|         Mr. Edvard"|    0|        116|     3|  male|    0|       0| STON/O 2. 3101294|
|70.5|               |       Q|    7.75|            "Connors|        Mr. Patrick"|    0|        117|     3|  male|    0|       0|            370369|
|  29|               |       S|      21|             "Turpin| Mr. William John...|    0|        118|     2|  male|    1|       0|             11668|
|  24|        B58 B60|       C|247.5208|             "Baxter|   Mr. Quigg Edmond"|    1|        119|     1|  male|    0|       0|          PC 17558|
|   2|               |       S|  31.275|          "Andersson| Miss. Ellis Anna...|    2|        120|     3|female|    4|       0|            347082|
|  21|               |       S|    73.5|            "Hickman| Mr. Stanley George"|    0|        121|     2|  male|    2|       0|      S.O.C. 14879|
|    |               |       S|    8.05|              "Moore| Mr. Leonard Char...|    0|        122|     3|  male|    0|       0|         A4. 54510|
|32.5|               |       C| 30.0708|             "Nasser|       Mr. Nicholas"|    0|        123|     2|  male|    1|       0|            237736|
|32.5|           E101|       S|      13|             "Webber|        Miss. Susan"|    0|        124|     2|female|    0|       1|             27267|
|  54|            D26|       S| 77.2875|              "White| Mr. Percival Way...|    1|        125|     1|  male|    0|       0|             35281|
|  12|               |       C| 11.2417|      "Nicola-Yarred|      Master. Elias"|    0|        126|     3|  male|    1|       1|              2651|
|    |               |       Q|    7.75|            "McMahon|         Mr. Martin"|    0|        127|     3|  male|    0|       0|            370372|
|  24|               |       S|  7.1417|             "Madsen|  Mr. Fridtjof Arne"|    0|        128|     3|  male|    0|       1|           C 17369|
|    |          F E69|       C| 22.3583|              "Peter|         Miss. Anna"|    1|        129|     3|female|    1|       1|              2668|
|  45|               |       S|   6.975|            "Ekstrom|          Mr. Johan"|    0|        130|     3|  male|    0|       0|            347061|
|  33|               |       C|  7.8958|          "Drazenoic|          Mr. Jozef"|    0|        131|     3|  male|    0|       0|            349241|

In [15]:
# Print the data types of all `df` columns
# df.dtypes

# Print the schema of `df`
df.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Name1: string (nullable = true)
 |-- Name2: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Ticket: string (nullable = true)

In [21]:
# Import all from `sql.types`
from pyspark.sql.types import *

# Write a custom function to convert the data type of DataFrame columns
def convertColumn(df, names, newType):
  for name in names: 
     df = df.withColumn(name, df[name].cast(newType))
  return df 

# Assign all column names to `columns`
columns = ['households', 'housingMedianAge', 'latitude', 'longitude', 'medianHouseValue', 'medianIncome', 'population', 'totalBedRooms', 'totalRooms']

# Conver the `df` columns to `FloatType()`
df = convertColumn(df, columns, FloatType())

In [22]:
# Print the data types of all `df` columns
# df.dtypes

# Print the schema of `df`
df.printSchema()

root
 |-- households: float (nullable = true)
 |-- housingMedianAge: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- medianHouseValue: float (nullable = true)
 |-- medianIncome: float (nullable = true)
 |-- population: float (nullable = true)
 |-- totalBedRooms: float (nullable = true)
 |-- totalRooms: float (nullable = true)

In [23]:
df.select('population','totalBedRooms').show(10)

+----------+-------------+
|population|totalBedRooms|
+----------+-------------+
|     322.0|        129.0|
|    2401.0|       1106.0|
|     496.0|        190.0|
|     558.0|        235.0|
|     565.0|        280.0|
|     413.0|        213.0|
|    1094.0|        489.0|
|    1157.0|        687.0|
|    1206.0|        665.0|
|    1551.0|        707.0|
+----------+-------------+
only showing top 10 rows

In [24]:
df.groupBy("housingMedianAge").count().sort("housingMedianAge",ascending=False).show()

+----------------+-----+
|housingMedianAge|count|
+----------------+-----+
|            52.0| 1273|
|            51.0|   48|
|            50.0|  136|
|            49.0|  134|
|            48.0|  177|
|            47.0|  198|
|            46.0|  245|
|            45.0|  294|
|            44.0|  356|
|            43.0|  353|
|            42.0|  368|
|            41.0|  296|
|            40.0|  304|
|            39.0|  369|
|            38.0|  394|
|            37.0|  537|
|            36.0|  862|
|            35.0|  824|
|            34.0|  689|
|            33.0|  615|
+----------------+-----+
only showing top 20 rows

In [25]:
df.describe().show()

+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|summary|       households|  housingMedianAge|         latitude|          longitude|  medianHouseValue|      medianIncome|        population|    totalBedRooms|        totalRooms|
+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|  count|            20640|             20640|            20640|              20640|             20640|             20640|             20640|            20640|             20640|
|   mean|499.5396802325581|28.639486434108527|35.63186143109965|-119.56970444871473|206855.81690891474|3.8706710030346416|1425.4767441860465|537.8980135658915|2635.7630813953488|
| stddev|382.3297528316098| 12.58555761211163|2.135952380602968|  2.003531742932898|115395.61587441359|1.8998217183639696|  1132.46212176534| 421.247905943133|2181.6152515827944|
|    min|              1.0|               1.0|            32.54|            -124.35|           14999.0|            0.4999|               3.0|              1.0|               2.0|
|    max|           6082.0|              52.0|            41.95|            -114.31|          500001.0|           15.0001|           35682.0|           6445.0|           39320.0|
+-------+-----------------+------------------+-----------------+-------------------+------------------+------------------+------------------+-----------------+------------------+

In [26]:
# Import all from `sql.functions` 
from pyspark.sql.functions import *

# Adjust the values of `medianHouseValue`
df = df.withColumn("medianHouseValue", col("medianHouseValue")/100000)

# Show the first 2 lines of `df`
df.take(2)

[Row(households=126.0, housingMedianAge=41.0, latitude=37.880001068115234, longitude=-122.2300033569336, medianHouseValue=4.526, medianIncome=8.325200080871582, population=322.0, totalBedRooms=129.0, totalRooms=880.0),
 Row(households=1138.0, housingMedianAge=21.0, latitude=37.86000061035156, longitude=-122.22000122070312, medianHouseValue=3.585, medianIncome=8.301400184631348, population=2401.0, totalBedRooms=1106.0, totalRooms=7099.0)]

In [27]:
# Import all from `sql.functions` if you haven't yet
from pyspark.sql.functions import *

# Divide `totalRooms` by `households`
roomsPerHousehold = df.select(col("totalRooms")/col("households"))

# Divide `population` by `households`
populationPerHousehold = df.select(col("population")/col("households"))

# Divide `totalBedRooms` by `totalRooms`
bedroomsPerRoom = df.select(col("totalBedRooms")/col("totalRooms"))

# Add the new columns to `df`
df = df.withColumn("roomsPerHousehold", col("totalRooms")/col("households")) \
   .withColumn("populationPerHousehold", col("population")/col("households")) \
   .withColumn("bedroomsPerRoom", col("totalBedRooms")/col("totalRooms"))
   
# Inspect the result
df.first()

Row(households=126.0, housingMedianAge=41.0, latitude=37.880001068115234, longitude=-122.2300033569336, medianHouseValue=4.526, medianIncome=8.325200080871582, population=322.0, totalBedRooms=129.0, totalRooms=880.0, roomsPerHousehold=6.984126984126984, populationPerHousehold=2.5555555555555554, bedroomsPerRoom=0.14659090909090908)

In [28]:
# Re-order and select columns
df = df.select("medianHouseValue", 
              "totalBedRooms", 
              "population", 
              "households", 
              "medianIncome", 
              "roomsPerHousehold", 
              "populationPerHousehold", 
              "bedroomsPerRoom")

In [29]:
# Import `DenseVector`
from pyspark.ml.linalg import DenseVector

# Define the `input_data` 
input_data = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# Replace `df` with the new DataFrame
df = spark.createDataFrame(input_data, ["label", "features"])

In [30]:
# Import `StandardScaler` 
from pyspark.ml.feature import StandardScaler

# Initialize the `standardScaler`
standardScaler = StandardScaler(inputCol="features", outputCol="features_scaled")

# Fit the DataFrame to the scaler
scaler = standardScaler.fit(df)

# Transform the data in `df` with the scaler
scaled_df = scaler.transform(df)

# Inspect the result
scaled_df.take(2)

[Row(label=4.526, features=DenseVector([129.0, 322.0, 126.0, 8.3252, 6.9841, 2.5556, 0.1466]), features_scaled=DenseVector([0.3062, 0.2843, 0.3296, 4.3821, 2.8228, 0.2461, 2.5264])),
 Row(label=3.585, features=DenseVector([1106.0, 2401.0, 1138.0, 8.3014, 6.2381, 2.1098, 0.1558]), features_scaled=DenseVector([2.6255, 2.1202, 2.9765, 4.3696, 2.5213, 0.2031, 2.6851]))]

In [31]:
# Split the data into train and test sets
train_data, test_data = scaled_df.randomSplit([.8,.2],seed=1234)

In [42]:
# Import `LinearRegression`
from pyspark.ml.regression import LinearRegression

# Initialize `lr`
lr = LinearRegression(labelCol="label", maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Fit the data to the model
linearModel = lr.fit(train_data)

In [43]:
# Generate predictions
predicted = linearModel.transform(test_data)

# Extract the predictions and the "known" correct labels
predictions = predicted.select("prediction").rdd.map(lambda x: x[0])
labels = predicted.select("label").rdd.map(lambda x: x[0])

# Zip `predictions` and `labels` into a list
predictionAndLabel = predictions.zip(labels).collect()

# Print out first 5 instances of `predictionAndLabel` 
predictionAndLabel[:5]

[(0.8134519322113867, 0.14999),
 (1.3128391350327204, 0.14999),
 (1.8009833788708067, 0.14999),
 (0.8554237492441334, 0.283),
 (0.8192322857580903, 0.366)]

In [44]:
# Coefficients for the model
linearModel.coefficients

# Intercept for the model
#linearModel.intercept

DenseVector([0.0001, -0.0002, 0.0004, 0.4359, -0.0004, 0.0, 2.9623])

In [38]:
# Get the RMSE
linearModel.summary.rootMeanSquaredError

# Get the R2
linearModel.summary.r2

0.42282227755911483

In [16]:
spark.stop()